<div class="content">
  <div class="welcome">
    <h1>Welcome, {{ user.username }}!</h1>
    <div><b>Created at:</b> {{ user.createdAt | date: 'dd.MM.yyyy' }}</div>
    <div><b>Number of notes:</b> {{ notesNumber }}</div>
  </div>

  <div class="box">
    <div class="title"><h2>Your Notes</h2></div>
  </div>

  <div class="error-content" *ngIf="backendError.isError">{{ backendError.message }}</div>

  <div class="firstnote" *ngIf="notesNumber == 0">You don't have any notes yet!<br><a routerLink="/notes/new">Add a new note.</a></div>

  <div class="flex-container" *ngIf="notesNumber > 0">
      <div class="item-button"><div class="addbutton material-icons" title="Add a new note" routerLink="/notes/new">add_circle</div></div>

      <div class="item" *ngFor="let note of this.user.notes">
        <div class="title"><b>{{ (note.title.length > 60) ? (note.title | slice:0:60) + '...' : (note.title) }}</b></div>
        <div class="buttons">
          <a routerLink="/notes/view/{{ note._id }}" title="View" class="material-icons">launch</a>
          <a routerLink="/notes/edit/{{ note._id }}" title="Edit" class="material-icons">edit</a>
          <a (click)="deleteNote(note._id)" title="Delete" class="material-icons">delete_forever</a>
        </div>
        <div class="body"><p>{{ note.preview }}</p></div>
        <div class="date">
          <div class="createddate" title="Created at"><time>{{ note.date | date: 'dd.MM.yyyy HH:mm' }}</time></div>
          <div *ngIf="note.editedDate" title="Edited at" class="editeddate">(<time>{{ note.editedDate | date: 'dd.MM.yyyy HH:mm' }}</time>)</div>
        </div>
      </div>
  </div>
</div>