@import '../../styling/variables';

.content {height: 100%;}

.welcome {
  background: $background2;
  color: $colorLight;
  text-align: center;
  text-shadow: 1px 1px 5px $colorDark;
  background-image: url("../../assets/img/pexels-romka-2034373.jpg");
  padding: 105px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
  }
  div {
    display: inline-block;
    margin: 10px;
  }
}

.box {
  background: $background2;
  text-align: center;
  .title {
    box-shadow: 0px 0px 2px 0px $boxShadowColor;
    background: $primaryBg2;
    color: $colorLight;
    padding: 10px;
    h2 {padding: 0; margin: 0;}
  }
}

.firstnote {
  text-align: center;
  margin-top: 50px;
  font-size: 2.5rem;
  a {
    font-size: 2rem;
    color: $primaryBg1;
    text-decoration: none;
    &:hover {text-decoration: underline;}
  }
}

.item-button {
  margin: 10px;
  width: 15%;
  text-align: center;
  .addbutton {
    width: 80px;
    height: 80px;
    display: inline-block;
    background:
      linear-gradient($primaryBg2, $primaryBg2) top left,
      linear-gradient($primaryBg2, $primaryBg2) top right,
      linear-gradient($primaryBg2, $primaryBg2) bottom left,
      linear-gradient($primaryBg2, $primaryBg2) bottom right;
    border-radius: 50%;
    background-size: calc(50% - 2px) calc(50% - 2px);
    background-repeat: no-repeat;
    border: 10px solid $primaryBg2;
    transition: 1s all;
    box-shadow: 0px 0px 2px 1px $boxShadowColor;
    &:hover {
      box-shadow: 0px 0px 4px 2px $boxShadowColor;
      cursor: pointer;
    }
    &:hover, &:active, &:focus {
      box-shadow: 0px 0px 4px 2px $boxShadowColor;
      outline: none;
    }
  }
}

.flex-container {
  margin-top: 15px;
  display: flex;
  align-items: center;

  .item {
    width: 15%;
    margin: 10px;
    background: $background2;
    box-shadow: 0px 0px 2px 1px $boxShadowColor;

    .buttons {
      a {color: $colorLight; font-size: 0.9rem;}
      text-align: center;
      .deletebtn, .editbtn, .viewbtn {
        padding: 5px;
        width: (100% / 3);
        background: $primaryBg2;
        display: inline-block;
        transition: 1s all;
        &:hover {
          cursor: pointer;
          background: $primaryBg1;
        }
      }
    }

    .title {
      text-align: center;
      box-shadow: 0px 2px 2px 0px $boxShadowColor;
      background: $primaryBg2;
      color: $colorLight;
      font-size: 0.9rem;
      height: 60px;
      line-height: 60px;

      b {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        word-break: break-all;
      }
    }
    .body {
      padding: 0 5px;
      height: 220px;
      font-size: 0.9rem;
      p {
        word-break: break-all;
        white-space: pre;
      }
      
    }
    .date {
      padding: 5px;
      box-shadow: 0px -1px 2px 0px $boxShadowColor;
      font-size: 0.7rem;

      .createddate, .editeddate {
        width: 50%;
        display: inline-block;
      }

      .createddate {text-align: left;}
      .editeddate {text-align: right;}
    }
  }
}