@import '../../styling/variables';

.welcome {
  background: $background2;
  color: $colorLight;
  text-align: center;
  text-shadow: 1px 1px 5px $colorDark;
  background-image: url("../../assets/img/pexels-romka-2034373.jpg");
  padding-top: 105px;
  padding-bottom: 105px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
  }
  div {
    display: inline-block;
    margin: 10px;
  }
}

.box {
  background: $background2;
  text-align: center;
  .title {
    box-shadow: 0px 0px 2px 0px $boxShadowColor;
    background: $primaryBg2;
    color: $colorLight;
    padding: 10px;
    h2 {padding: 0; margin: 0;}
  }
}

.firstnote {
  text-align: center;
  margin-top: 50px;
  font-size: 2.5rem;
  a {
    font-size: 2rem;
    color: $primaryBg1;
    text-decoration: none;
    &:hover {text-decoration: underline;}
  }
}

.item-button {
  margin: 10px;
  min-width: 260px;
  width: 15%;
  text-align: center;
  .addbutton {
    color: $primaryBg2;
    font-size: 6rem;
    transition: 1s all;
    &:hover {
      text-shadow: 0px 0px 4px $boxShadowColor;
      color: $primaryBg1;
      cursor: pointer;
    }
    &:hover, &:active, &:focus {
      color: $primaryBg1;
      text-shadow: 0px 0px 4px $boxShadowColor;
      outline: none;
    }
  }
}

.flex-container {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 80%;

  .item {
    width: 15%;
    min-width: 260px;
    margin: 10px;
    background: $background2;
    box-shadow: 0px 0px 2px 1px $boxShadowColor;

    .buttons {
      text-align: center;
      .material-icons {
        text-align: center;
        font-size: 1.5rem;
        padding: 5px;
        width: (100% / 3);
        background: $primaryBg2;
        color: $colorLight;
        display: inline-block;
        transition: 1s all;
        &:hover {
          cursor: pointer;
          background: $primaryBg1;
        }
      }
    }

    .title {
      text-align: center;
      box-shadow: 0px 2px 2px 0px $boxShadowColor;
      background: $primaryBg2;
      color: $colorLight;
      font-size: 0.9rem;
      height: 60px;
      line-height: 60px;

      b {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        word-break: break-all;
      }
    }
    .body {
      padding: 0 5px;
      height: 220px;
      font-size: 0.9rem;
      p {
        word-break: break-all;
        white-space: pre;
      }
      
    }
    .date {
      padding: 5px;
      box-shadow: 0px -1px 2px 0px $boxShadowColor;
      font-size: 0.7rem;

      .createddate, .editeddate {
        width: 50%;
        display: inline-block;
      }

      .createddate {text-align: left;}
      .editeddate {text-align: right;}
    }
  }
}

@media (max-width: 1000px) {
  .flex-container {
    width: 90%;
  }
}

@media (max-width: 800px) {
  .flex-container {
    width: 100%;
    flex-direction: column;
    .item-button, .item {
      min-width: 95%;
      width: 95%;
      margin: 5px;
    }
  }

  .welcome {
    h1 {
      font-size: 2.4rem;
    }
    div {
      display: block;
      margin: 5px;
    }
  }

  .item-button {display: none;}
}