$background1:#f7f7f7;
$background2: #efefef;

$primaryBg1: #651fff;
$primaryBg2: #8046ff;

$colorLight: #ffffff;
$colorDark: #030303;
$colorError: #f70909;

$btnBg: #d6d6d6;
$btnBgHover: #e9e9e9;

$messageBoxBg: green;

$borderColor: #cacaca;
$borderColorFocus: #9c9c9c;

$boxShadowColor: rgba(0,0,0,0.75);

.error {
  height: 20px;
  color: $colorError;
  font-size: 1rem;
}

.error-content {
  text-align: center;
  margin: 20px auto;
  font-size: 2.5rem;
  color: $colorError;
  span {
    font-size: 2.5rem;
  }
}