.bgimage {
  background-image: url("../assets/img/pexels-romka-2034373.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;

  &::before {
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
    content: "";
    position: absolute;
    z-index: 2;
    width: 100%;
    pointer-events: none;
    height: 100%;
  }
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 999;

  form {
    width: 25%;
    box-shadow: 0px 0px 1px 0px $colorDark;
    padding: 20px 25px;
    background: $background2;

    .messagebox {
      border-radius: 3px;
      padding: 10px;
      color: $colorLight;
      background: $messageBoxBg;
      margin-bottom: 10px;
      text-align: center;
    }

    h1 {text-align: center;}

    input[type=text], input[type=password] {
      padding: 3px;
      display: block;
      width: 100%;
      border-radius: 3px;
      border: 1px solid $borderColor;

      &:focus {
        border: 1px solid $colorDark;
        outline: none;
      }
    }

    button, button[disabled] {
      display: block;
      text-align: center;
      width: 100%;
      margin-top: 10px;
      padding: 10px;
      background: $btnBg;
      color: $colorDark;
      border: 1px solid $btnBg;
      transition: all 1s;
      &:hover {
        cursor: pointer;
        border: 1px solid $btnBgHover;
        background: $btnBgHover
      }
    }
    p {
      text-align: center;
      margin-top: 10px;
      font-size: 0.9rem;

      a {
        color: $primaryBg1;
        text-decoration: none;
        &:hover {text-decoration: underline;}
      }
    }
  }
}

@media (max-width: 1500px) {
  .form {
    form {
      width: 40%;
    }
  }
}

@media (max-width: 800px) {
  .form {
    form {
      width: 95%;
    }
  }
}