@import '../../styling/variables';

.footer {
  text-align: center;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: $primaryBg2;

  a {
    color: $colorLight;
    text-decoration: none;
    font-size: 1rem;
    &:hover {
      text-decoration: underline;
    }
  }
}