<div class="bgimage"></div>
<div class="form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h1>Create Your Account</h1>
    <div>
      <label>
        Username:
        <input type="text" formControlName="userName" maxlength="20" required>
      </label>
      <div class="error">
        <div *ngIf="userName && userName.invalid && (userName.dirty || userName.touched)">
          <div *ngIf="userName.errors?.required">Name is required.</div>
          <div *ngIf="userName.errors?.maxlength">Name is too long.</div>
        </div>
      </div>
    </div>
  
    <div>
      <label>
        Password:
        <input type="password" formControlName="password" maxlength="20" required>
      </label>
      <div class="error">
        <div *ngIf="password && password.invalid && (password.dirty || password.touched)">
          <div *ngIf="password.errors?.required">Password is required.</div>
          <div *ngIf="password.errors?.maxlength">Password is too long.</div>
        </div>
      </div>
    </div>
  
    <div>
      <label>
        Confirm password:
        <input type="password" formControlName="confirmPassword" maxlength="20" required>
      </label>
      <div class="error">
        <div *ngIf="confirmPassword && confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">
          <div *ngIf="confirmPassword.errors?.required">Confirm password is required.</div>
          <div *ngIf="confirmPassword.errors?.confirmedValidator">Passwords do not match.</div>
        </div>
      </div>
    </div>
  
    <button type="submit" [disabled]="!registerForm.valid">Register</button>
    <div class="error">
      <div *ngIf="backendError.isError">{{ backendError.message }}</div>
    </div>
    <p>Already have an account? <a routerLink="/login">Sign in.</a></p>
  </form>
</div>